doctype
<!--[if IE 8]><html class="lt-ie9 no-js"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
head
	block head
		include ./includes/header.jade
	block title
		title HAO | Speak another language or dialect
body.Site
	block container 
	block footer
		include ./includes/footer.jade
</html>