{{define "header"}}<!DOCTYPE html><!--[if IE 8]><html class="lt-ie9 no-js"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <link href="/public/css/style.css" rel="stylesheet"><!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script><![endif]-->
  <title>HAO | Speak another language or dialect</title>
</head>
<body class="Site">
  <div class="Site-header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Dropdown<span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">{{.Email}}</a></li>
                <li><a href="#">{{.UserName}}</a></li>
                <li><a href="#">{{.LoggedIn}}</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          {{if .LoggedIn}}
          <form action="/api/logout" method="get" class="navbar-form navbar-right">
            <button type="submit" class="btn btn-success">Sign out</button>
          </form>
          {{else}}
          <form action="/api/login" method="post" class="navbar-form navbar-right">
            <div class="form-group">
              <input id="Username" name="username" type="text" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input id="Password" name="password" type="password" placeholder="Password" class="form-control">
            </div>
              <button type="submit" class="btn btn-success">Sign in</button>
              <a href="/form/signup">
                  <button type="button" class="btn btn-primary">Sign up</button>
              </a>
          </form>
          {{end}}
        </div>
      </div>
    </nav>
  </div>
  {{end}}
  {{define "footer"}}<footer class="Site-footer">
      <div class="container Footer">
        <div class="row flexrow">
          <div class="flexrow-logo"><img src="./img/logo-inverse.png" class="footer-logo img-responsive"></div>
          <div class="flexrow-item">
            <h4>DISCOVER</h4>
            <ul class="list-unstyled list-menu">
            <li><a href="/" target="_blank">Home</a></li>
            <li><a href="/billionaires/" target="_blank">Discover</a></li>
            <li><a href="/dashboard/" target="_blank">Create</a></li>
          </ul>
        </div>
          <div class="flexrow-item">
            <h4>LEGAL</h4>
        </div>
          <div class="flexrow-item">
            <h4>ABOUT</h4>
        </div>
          <div class="flexrow-item">
            <h4> </h4>
        </div>
      </div>
        <div class="row Footer-flexrow">
          <div class="flexrow-item">
            <p class="pull-left">Copyright &copy; Finlytics Pte Ltd.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
  <script src="/public/scripts/fs.js"></script>
  </body></html>
{{end}}
