//- header.jade

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="description", content="")
meta(name="viewport", content="width=device-width,initial-scale=1")
//- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
//- Local stylesheet
link(href="../css/style.css", rel="stylesheet")
link(href="/public/css/style.css", rel="stylesheet")
//- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
<!--[if lt IE 9]>
script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js")
<![endif]-->